.footer_tools {
	display: inline-block;
	min-width: 100px;
	height: 100px;
	background-color: rgba(89, 89, 89, 0.05);
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: rgba(14, 14, 14, 0.19) 0px 6px 15px 0px;
	-webkit-box-shadow: rgba(14, 14, 14, 0.19) 0px 6px 15px 0px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	color: rgba(128, 128, 128, 0.2);
	padding: 0 24px;
	box-sizing: border-box;
	.footer_tools_flex_box {
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;
		.footer_tools_task_bar {
			height: 100%;
			display: flex;
			justify-content: start;
			align-items: center;
			.tools_bar_item {
				width: 80px;
				height: 80px;
				margin: 0 6px;
				box-sizing: border-box;
				border-radius: 50%;
				border: 1px solid #ccc;
			}
		}
		.footer_tools_menu_bar {
			width: 80px;
			height: 80px;
			margin: 0 14px 0 6px;
			border-radius: 50%;
			position: relative;
			&::after {
				position: absolute;
				right: -14px;
				content: "";
				display: inline-block;
				height: 100%;
				border-right: 1px solid #ccc;
			}
		}
	}
}
